<div id='container'>
<!-- Your code here -->
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href="#/logout" class="logout">Logout</a></li>
    </ul>
  </div>
  <form name='shortenLink' ng-submit='addLink()' novalidate>
    <input type="url" ng-model="link.url" ng-class="{'error':shortenLink.$invalid&&shortenLink.$dirty}" name="link" required>
    <button>Submit</button>
  </form>
  <div ng-if="shortenLink.link.$error.required &&
      shortenLink.$dirty">
      <h2>URL is required</h2>
  </div>
  <div ng-show="shortenLink.link.$error.url &&
      shortenLink.$dirty">
      <h2>Not a valid url</h2>
  </div>
</div>


